[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
"jinja2" = "*"
markupsafe = "*"
numpy = "*"
packaging = "*"
pyparsing = "*"
python-dateutil = "*"
pyyaml = "*"
six = "*"
tornado = "*"

[dev-packages]

[requires]
python_version = "3.6"
