.btn {
  position: absolute;
  background-color: salmon;
  right: 0;
  border: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  z-index: 1;
  outline: none;
}

.bfs-btn {
  position: absolute;
  right: 0;
  top: 50px;
  border: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  outline: none;
  background-color: #333;
}

.dijk-btn {
  position: absolute;
  right: 0;
  top: 100px;
  border: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #333;
  z-index: 2;
  outline: none;
  background-color: #fff;
}

canvas {
  z-index: 0;
  position: absolute;
}