.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  background-color: purple;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 55px;
  font-size: 22px;
  font-family: impact;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 35px;
  color: lightgrey;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 10px 10px 5px grey;
}

button:hover {
  background-color: teal;
  text-shadow: 4px 4px 7px purple;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
