.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

button {
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
}

.canvas-parent {
  position: relative;
  margin: auto;
  width: 1200px;
}

canvas {
  position: relative;
}

.generate-graph {
  position: relative;
  bottom: 30px;
  left: 535px;
}
